/*selector universal*/
*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f3f5fc;
}
.texto{
    position: absolute;
    width: 42%;
    height: 30%;
    left: 12%;
    top:15%;
    border:none;
    border-radius: 10px;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    background-color: #f3f5fc;
}
.texto::placeholder{
    color: #0A3871;
}
.texto:focus, .texto:active{
    outline: none;
}
.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top:50%;/*para encontrar el top correcto lo que hago 
    es sumar el top de la class texto mas height de esta misma clase  */
}
.terminos p{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 55%;
}
.btn-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #0a3371;
    border-radius: 24px;
    font-family: "Inter";
    font-size:18px;
    line-height: 19px;
    text-align: center;
    color: #ffff;
}
.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap:8px;
    width: 25%;
    background:#d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3371;
}
.btn-desencriptar:hover, .btn-encriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}
.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 70%;/*video lo maeja con 90%*/
    left: 60%;/*este datos no sale de la clase texto donde tenemso encuneta el width y left donde eso nos da la suma de 54% por lo tanto a nuestro nuevo left le daremos un valor de 60% que tome essa posicion y tenga su debido espacio*/
    top: 5%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgb(0, 0, 0, 0.08);
    border-radius: 32px;
}
.mensaje-ecnriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}
.mensaje-ecnriptado h2{
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}
.mensaje-ecnriptado p{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
.encriptado img{
    position: absolute;
    width: 60%;
    height: 45%;
    top:15%;
}

/*reponsive design*/
@media (max-width: 57.5em){
    .container{
        display: flex;
        flex-direction: column;
    }
    .encriptar{
        width: 100%;
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .terminos p{
        font-size: 16px;
    }
    .botones{
        width:80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar, .btn-desencriptar{
        width: 48%;
        border-radius: 16px;
    }
    .btn-encriptar:hover, .btn-desencriptar:hover{
        margin: 0.3%;
        width:47.5%;
        padding: 1.8%;
    }
    .encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje-ecnriptado{
        width: 100%;
        top: 5%;
    }
    .encriptado img{
        top: 0;
        display: none;
        visibility: hidden;/*no se visualiza la imagen*/
    }
    
}

