body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #BBBBBB;
}
.caja{
    width: 940px;
    padding: 20px 0;
    /**/
    position: relative;
    /*border: 20px solid #000000;*/
    margin: 0 auto;
}
nav{
     /*esto me permite mover lo que tengo dentro de la tag nav  yo puedo posicionar mi elemento en cualquier lugar de la página*/
    position: absolute; 
    top: 130px;
    right:0;
}
nav li{
    /*cambiamos el tamaño de contenido*/
    display: inline;
    /*conla etiqueta margin vamos aponerle espacio derecha, arriba, abajo y zquierda */
    margin: 0 0 0 25px;
}
nav a {
    /*Nos sirve para alterar laaletras de minusculas a mayusculas*/
    text-transform: uppercase;
    color: #000000;
    /*Alteramos el color de las letras a negro*/
    font-weight: bold;
    font-size: 20px;
    /*Vamos a retirar ese subrayado de las etique a herf */
    text-decoration: none;
}
nav a:hover{
    /*vamos a acapturar eventos del susuario con el hover que  catura el movimenito del mause*/
    color: #c78c19;
    /*vAMOS A DEVOLVER EL SUBRAYADO CON LA PALABRA UNDERLINE*/
    text-decoration: underline;

}
footer{
    /*agregamos una imagen*/
    background:url(../../imegenes/bg.jpg);
    padding: 40px;
    text-align: center;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    /*configuramos todo con lo que teien que ver con los input*/
    display: block;
    margin: 0 0 20px;
    padding:10px 25px;
    width: 50%;
}
.checkbox{
    margin:20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    /*es una transicio al momento de destarcar el bonton all no ayuda que todas las priedades del boton sean mas lentas*/
    transition: 1s all;
    /*vamos a modifcar el cursor*/
    cursor:pointer;
}
.enviar:hover{
    background: orangered;
    /*scale nos ayuda a hacer mas grande el botn cuando pasamos el mous*/
    transform: scale(1.2);
    /*sirve para dar una visual de rotacion, transform: rotate(70deg); */
    
} 
table{
    margin: 40px 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
th,td{
    font-size: 18px;
    border: 1px solid black;
    padding: 8px 15px;
}

